.services {
    border-radius: 0px 0px 12px 12px;
    position: relative;
}

.all-cards-contain {
    padding-bottom: 60px;
    gap: 30px;
    display: grid;
    grid-template-columns: 1fr;

    @media (min-width: 768px) {
        grid-template-columns: 1fr 1fr;
        gap: 60px;
    }

    @media (min-width: 1024px) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.all-cards {

    &-services {
        color: #24A3FF;
        font-size: 14px;
        font-weight: 700;
        line-height: 1;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-top: 0;
        text-decoration: none;

        &-hover {
            @media (min-width: 1920px) {
                &:hover {
                    color: #F0145A;
                    &::after {
                        content: "";
                        background-image: url(../images/arrow-hover.svg);
                    }
                }
            }
        }
    }

    &-link {
        display: flex;
        align-items: flex-start;
        margin-bottom: 10px;
    }
}

.all-cards-services::after {
    content: '';
    display: inline-block;
    background-image: url(../images/arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 12px;
    height: 12px;
    margin-left: 2px;
}

.all-cards-title {
    background-image: linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%);
    background-clip: text;
    color: transparent;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.1;
    margin-top: 0;
    margin-bottom: 30px;

    @media (min-width: 768px) {
        margin-bottom: 60px;
        font-size: 38px;
    }
}

.card-icon {
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 24px;
    background-color: #FFF; 
    width: 92px;
    height: 92px;
}

.ecommerce {
    background-image: url('../images/ecommerce.svg');
}

.support {
    background-image: url('../images/support.svg');
}

.group {
    background-image: url('../images/group.svg');
}

.trust {
    background-image: url('../images/trust.svg');
}

.protection {
    background-image: url('../images/protection.svg');
}

.layer {
    background-image: url('../images/layer.svg');
}

.card-title {
    color: #24A3FF;
    font-size: 22px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 15px;
}

.card-description {
    color: #FFF;
    font-size: 16px;
    line-height: 26px;
    margin-top: 0;
    margin-bottom: 0;
}

.shadow {
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;

}
.services::before {
    content: "";
    position: absolute;
    border-radius: 0px 0px 12px 12px;
    background-color: #CACADB;
    height: 10px;
    left: 20px;
    right: 20px;
    top: 100%;
}

.services::after {
    content: "";
    position: absolute;
    border-radius: 0px 0px 12px 12px;
    background-color: #E7E7F2;
    height: 10px;
    left: 40px;
    right: 40px;
    top: calc(100% + 10px);
}