* {
    box-sizing: border-box;    
}

body {
    font-family: 'Montserrat', 'Open Sans', sans-serif;
}

.wrapper {
    max-width: 1720px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .dot::before {
        content: '';
        background-color: #B3B3BA;
        height: 6px;
        width: 6px;
        border-radius: 3px;
    }
}

.section-link {
    color: #24A3FF;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 0;
    text-decoration: none;
    display: flex;
    align-items: center;
    
    &:hover {
        color:#F0145A;
        &::after {
            background-image: url(../images/arrow-hover.svg);
        }
    }

    &::after {
        content: '';
        display: inline-block;
        background-image: url(../images/arrow.svg);
        background-position: center;
        background-repeat: no-repeat;
        width: 12px;
        height: 12px;
        margin-left: 2px;
    }
}

.section-title {
    background-image: linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%);
    background-clip: text;
    color: transparent;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.1;
    margin-top: 0;
    margin-bottom: 30px;

    @media (min-width: 768px) {
        margin-bottom: 60px;
        font-size: 38px;
    }
}
